.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.items-container {
  border: 2px dashed blue;
  margin: 10px 10px 0 0;
  padding: 5px;
}

.item {
	width: 170px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

.item.ui-sortable-selected {
  background-color: yellow;
}


/***  Extra ***/

body {
	font-family: Verdana, 'Trebuchet ms', Tahoma;
}

.logList {
	margin-top: 20px;
	width: 250px;
	min-height: 300px;
	padding: 5px 15px;
	border: 5px solid #000;
	border-radius: 15px;
}

.logItem {
  margin-bottom: 10px;
}

.logList:before {
	content: 'log';
	padding: 0 5px;
	position: relative;
	top: -1.1em;
	background-color: #FFF;
}

.container {
	width: 750px;
	margin: auto;
}

h2 {
	text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}
