<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>ui-sortable-multiselection connected lists</title>

    <link rel="stylesheet" href="css/demo.css" media="screen" type="text/css" />

</head>

<body>

  <div ng-app="sortableApp" ng-controller="sortableController" class="container">
  <h2>ui-sortable-multiselection</h2>

  <div class="floatleft">
    <div>
      <label>
        Lock nodes with "2"
        <input type="checkbox" ng-model="lockNodesWithTwo" />
      </label>
    </div>
    <div ui-sortable="sortableOptions" class="items-container screen floatleft" ng-model="list1" ng-controller="dummyController">
      <div ui-sortable-selectable class="item cursor-grab" ng-repeat="item in list1">
        {{item.text}}
      </div>
    </div>
    <div ui-sortable="sortableOptions" class="items-container screen floatleft" ng-model="list2" ng-controller="dummyController">
      <div ui-sortable-selectable class="item cursor-grab" ng-repeat="item in list2">
        {{item.text}}
      </div>
    </div>
    <div style="clear: both;"></div>
</div>

  <div class="floatright">
    <button type="button" ng-click="logModels()">Log Models</button>
    <ul class="list logList">
      <li ng-repeat="entry in sortingLog" class="logItem">
        {{entry}}
      </li>
    </ul>
  </div>

  <div class="clear"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
  <script src="../src/ui.sortable.multiselection.js"></script>
</div>

  <script src="js/demo-connected.js"></script>

</body>

</html>